/*provides the overall text styling for the body and for sections that don't have 
assigned font familys*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*this provides the styling for the images so they can fit on the webpage*/
img.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
}

img.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;    
}

/*title styling*/
h1, h2, h3, h4 {
    text-align: center;
    color: black;
}

/*specifc title styling for h1*/
h1{
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
}

/*specifc title styling for h2*/
h2 {
    font-size: 20px;
}

/*overall styling for paragraphs*/
p  {
    color: black;
    text-align: left;
    margin-left: 3in;
    margin-right: 3in;
}

ul {
    text-align: left;
    margin-left: 3in;
    
}

ol {
    text-align: left;
    margin-left: 3in
}
/*this provides the styling for the borders that seperate each section*/
hr {
    margin-left: 3in;
    margin-right: 3in;
    border-width: 2px;
    border-color: black;
}
  
a {
    color: black;
}

a:hover {
    color: #93ada4;
    
}

/*provides specific styling for the header including background color, text specifications, size, etc. 
this gives the header the seperate look it has on the webpage to make it stand out from the main.*/
body{
    text-align: center;
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-weight: 450;
    line-height: 1.2;
}

/*provides specific styling for the main including background color, text specifications, size, etc. 
this gives the main the seperate look it has on the webpage to make it stand out from the header.*/
Main{
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: left;   
    background-color: lightgray;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 1.2;
}
